USE [master]
GO
/****** Object:  Database [pc-market]    Script Date: 5/3/2024 4:21:17 PM ******/
CREATE DATABASE [pc-market]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
    begin
        EXEC [pc-market].[dbo].[sp_fulltext_database] @action = 'enable'
    end
GO
USE [pc-market]
GO

/*
 Navicat Premium Data Transfer

 Source Server         : SQL Server@localhost
 Source Server Type    : SQL Server
 Source Server Version : 16004115 (16.00.4115)
 Source Catalog        : pc-market
 Source Schema         : dbo

 Target Server Type    : SQL Server
 Target Server Version : 16004115 (16.00.4115)
 File Encoding         : 65001

 Date: 08/06/2024 21:57:39
*/


-- ----------------------------
-- Table structure for chiTietHDB
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[chiTietHDB]') AND type IN ('U'))
    DROP TABLE [dbo].[chiTietHDB]
GO

CREATE TABLE [dbo].[chiTietHDB] (
                                    [maHDB] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [maMay] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [soLuong] int  NOT NULL,
                                    [thanhTien] bigint  NOT NULL
)
GO

ALTER TABLE [dbo].[chiTietHDB] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of chiTietHDB
-- ----------------------------
INSERT INTO [dbo].[chiTietHDB] ([maHDB], [maMay], [soLuong], [thanhTien]) VALUES (N'HDB07062024_105700', N'COM002', N'1', N'50975100')
GO

INSERT INTO [dbo].[chiTietHDB] ([maHDB], [maMay], [soLuong], [thanhTien]) VALUES (N'HDB07062024_105700', N'COM004', N'2', N'25918200')
GO

INSERT INTO [dbo].[chiTietHDB] ([maHDB], [maMay], [soLuong], [thanhTien]) VALUES (N'HDB07062024_193420', N'COM001', N'16', N'481377600')
GO



-- ----------------------------
-- Table structure for chiTietHDN
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[chiTietHDN]') AND type IN ('U'))
    DROP TABLE [dbo].[chiTietHDN]
GO

CREATE TABLE [dbo].[chiTietHDN] (
                                    [maHDN] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [maMay] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [soLuong] int  NOT NULL,
                                    [thanhTien] bigint  NOT NULL
)
GO

ALTER TABLE [dbo].[chiTietHDN] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of chiTietHDN
-- ----------------------------
INSERT INTO [dbo].[chiTietHDN] ([maHDN], [maMay], [soLuong], [thanhTien]) VALUES (N'HDN07062024_105614', N'COM001', N'2', N'60780000')
GO

INSERT INTO [dbo].[chiTietHDN] ([maHDN], [maMay], [soLuong], [thanhTien]) VALUES (N'HDN07062024_105614', N'COM004', N'4', N'121560000')
GO

INSERT INTO [dbo].[chiTietHDN] ([maHDN], [maMay], [soLuong], [thanhTien]) VALUES (N'HDN07062024_105632', N'COM001', N'1', N'30390000')
GO





-- ----------------------------
-- Table structure for CPU
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[CPU]') AND type IN ('U'))
    DROP TABLE [dbo].[CPU]
GO

CREATE TABLE [dbo].[CPU] (
                             [maCPU] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [tenCPU] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [socket] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [tocDo] float(53)  NOT NULL,
                             [maHSX] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [moTa] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL
)
GO

ALTER TABLE [dbo].[CPU] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of CPU
-- ----------------------------
INSERT INTO [dbo].[CPU] ([maCPU], [tenCPU], [socket], [tocDo], [maHSX], [moTa]) VALUES (N'CPU001', N'Intel Core i3-12100F', N'LGA1700', N'3.3', N'HSX004', N'4 nhân 8 luồng, 12MB Cache, tốc độ tối đa 4.3GHz')
GO

INSERT INTO [dbo].[CPU] ([maCPU], [tenCPU], [socket], [tocDo], [maHSX], [moTa]) VALUES (N'CPU002', N'Intel Core i9 14900K', N'LGA1700', N'3.2', N'HSX004', N'24 nhân 36 luồng, 36MB Cache, tốc độ tối đa 6.0GHz')
GO

INSERT INTO [dbo].[CPU] ([maCPU], [tenCPU], [socket], [tocDo], [maHSX], [moTa]) VALUES (N'CPU003', N'AMD Ryzen 5 5600G', N'AM4', N'3.9', N'HSX005', N'6 nhân 12 luồng, 16MB Cache, tốc độ tối đa 4.4GHz')
GO

























-- ----------------------------
-- Table structure for GPU
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[GPU]') AND type IN ('U'))
    DROP TABLE [dbo].[GPU]
GO

CREATE TABLE [dbo].[GPU] (
                             [maGPU] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [tenGPU] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [loaiGPU] nvarchar(30) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [dungLuong] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [maHSX] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [moTa] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL
)
GO

ALTER TABLE [dbo].[GPU] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of GPU
-- ----------------------------
INSERT INTO [dbo].[GPU] ([maGPU], [tenGPU], [loaiGPU], [dungLuong], [maHSX], [moTa]) VALUES (N'GPU001', N'GIGABYTE GeForce GTX 1660 SUPER D6 6G', N'Rời', N'6‎GB GDDR6', N'HSX010', N'3 cổng DP 1.4 + 1 cổng HDMI 2.0B')
GO

INSERT INTO [dbo].[GPU] ([maGPU], [tenGPU], [loaiGPU], [dungLuong], [maHSX], [moTa]) VALUES (N'GPU002', N'Asus TUF RTX 4070 12GB Gaming', N'Rời', N'12GB GDDR6X', N'HSX003', N'2 cổng HDMI 2.1 + 3 cổng DP 1.4A')
GO

INSERT INTO [dbo].[GPU] ([maGPU], [tenGPU], [loaiGPU], [dungLuong], [maHSX], [moTa]) VALUES (N'GPU003', N'AMD Vega 7', N'Tích hợp', N'512MB', N'HSX005', NULL)
GO

























-- ----------------------------
-- Table structure for hangSanXuat
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[hangSanXuat]') AND type IN ('U'))
    DROP TABLE [dbo].[hangSanXuat]
GO

CREATE TABLE [dbo].[hangSanXuat] (
                                     [maHSX] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                     [tenHSX] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL
)
GO

ALTER TABLE [dbo].[hangSanXuat] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of hangSanXuat
-- ----------------------------
INSERT INTO [dbo].[hangSanXuat] ([maHSX], [tenHSX]) VALUES (N'HSX001', N'Asrock')
GO

INSERT INTO [dbo].[hangSanXuat] ([maHSX], [tenHSX]) VALUES (N'HSX002', N'MSI')
GO

INSERT INTO [dbo].[hangSanXuat] ([maHSX], [tenHSX]) VALUES (N'HSX003', N'Asus')
GO











-- ----------------------------
-- Table structure for hoaDonBan
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[hoaDonBan]') AND type IN ('U'))
    DROP TABLE [dbo].[hoaDonBan]
GO

CREATE TABLE [dbo].[hoaDonBan] (
                                   [maHDB] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                   [ngayBan] date  NOT NULL,
                                   [maNV] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                   [maKhach] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                   [tongTien] bigint  NOT NULL
)
GO

ALTER TABLE [dbo].[hoaDonBan] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of hoaDonBan
-- ----------------------------
INSERT INTO [dbo].[hoaDonBan] ([maHDB], [ngayBan], [maNV], [maKhach], [tongTien]) VALUES (N'HDB07062024_105700', N'2024-06-07', N'EMP002', N'CUS001', N'76893300')
GO

INSERT INTO [dbo].[hoaDonBan] ([maHDB], [ngayBan], [maNV], [maKhach], [tongTien]) VALUES (N'HDB07062024_193420', N'2024-06-07', N'EMP001', N'CUS001', N'481377600')
GO

INSERT INTO [dbo].[hoaDonBan] ([maHDB], [ngayBan], [maNV], [maKhach], [tongTien]) VALUES (N'HDB08062024_213233', N'2024-06-08', N'EMP002', N'CUS001', N'1178100000')
GO


-- ----------------------------
-- Table structure for hoaDonNhap
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[hoaDonNhap]') AND type IN ('U'))
    DROP TABLE [dbo].[hoaDonNhap]
GO

CREATE TABLE [dbo].[hoaDonNhap] (
                                    [maHDN] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [ngayNhap] date  NOT NULL,
                                    [maNV] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [maNCC] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [tongTien] bigint  NOT NULL
)
GO

ALTER TABLE [dbo].[hoaDonNhap] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of hoaDonNhap
-- ----------------------------
INSERT INTO [dbo].[hoaDonNhap] ([maHDN], [ngayNhap], [maNV], [maNCC], [tongTien]) VALUES (N'HDN07062024_105614', N'2024-06-07', N'EMP001', N'NCC05', N'182340000')
GO

INSERT INTO [dbo].[hoaDonNhap] ([maHDN], [ngayNhap], [maNV], [maNCC], [tongTien]) VALUES (N'HDN07062024_105632', N'2024-06-07', N'EMP002', N'NCC02', N'30390000')
GO

INSERT INTO [dbo].[hoaDonNhap] ([maHDN], [ngayNhap], [maNV], [maNCC], [tongTien]) VALUES (N'HDN07062024_164833', N'2024-06-07', N'EMP002', N'NCC01', N'27990000')
GO




-- ----------------------------
-- Table structure for khachHang
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[khachHang]') AND type IN ('U'))
    DROP TABLE [dbo].[khachHang]
GO

CREATE TABLE [dbo].[khachHang] (
                                   [maKhach] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                   [tenKhach] nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                   [diaChi] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
                                   [dienThoai] nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL
)
GO

ALTER TABLE [dbo].[khachHang] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of khachHang
-- ----------------------------
INSERT INTO [dbo].[khachHang] ([maKhach], [tenKhach], [diaChi], [dienThoai]) VALUES (N'CUS001', N'Nguyễn Hoàng Tâm', N'Số 12 Chùa Bộc, Đống Đa, Hà Nội', N'(012) 345-6789')
GO

INSERT INTO [dbo].[khachHang] ([maKhach], [tenKhach], [diaChi], [dienThoai]) VALUES (N'CUS002', N'Trần Thị Bích Ngọc', N'Số 15 Hoàng Quốc Việt, Cầu Giấy, Hà Nội', N'0912345678')
GO

INSERT INTO [dbo].[khachHang] ([maKhach], [tenKhach], [diaChi], [dienThoai]) VALUES (N'CUS003', N'Nguyễn Văn Tâm', N'123 Lý Thường Kiệt, P.12, Q.5, Tp. Hồ Chí Minh', N'0908765432')
GO




















-- ----------------------------
-- Table structure for loaiMay
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[loaiMay]') AND type IN ('U'))
    DROP TABLE [dbo].[loaiMay]
GO

CREATE TABLE [dbo].[loaiMay] (
                                 [maLoaiMay] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [tenLoaiMay] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL
)
GO

ALTER TABLE [dbo].[loaiMay] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of loaiMay
-- ----------------------------
INSERT INTO [dbo].[loaiMay] ([maLoaiMay], [tenLoaiMay]) VALUES (N'LAP', N'Máy tính xách tay')
GO

INSERT INTO [dbo].[loaiMay] ([maLoaiMay], [tenLoaiMay]) VALUES (N'PC', N'Máy tính để bàn')
GO


-- ----------------------------
-- Table structure for mainboard
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[mainboard]') AND type IN ('U'))
    DROP TABLE [dbo].[mainboard]
GO

CREATE TABLE [dbo].[mainboard] (
                                   [maMainboard] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                   [tenMainboard] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                   [socket] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                   [moTa] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
                                   [maHSX] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL
)
GO

ALTER TABLE [dbo].[mainboard] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of mainboard
-- ----------------------------
INSERT INTO [dbo].[mainboard] ([maMainboard], [tenMainboard], [socket], [moTa], [maHSX]) VALUES (N'MAIN001', N'Asrock B660M Pro RS', N'LGA1700', N'Kích thước Micro-ATX, 4 khe cắm RAM (tối đa 128GB), 4 khe cắm ổ cứng SATA 6Gb/s + 2 khe cắm ổ cứng M2 NVME (3.0/4.0)', N'HSX001')
GO

INSERT INTO [dbo].[mainboard] ([maMainboard], [tenMainboard], [socket], [moTa], [maHSX]) VALUES (N'MAIN002', N'MSI B450M PRO-VDH MAX', N'AM4', N'Kích thước Micro-ATX, 4 khe cắm RAM (tối đa 128GB), 4 khe cắm ổ cứng SATA 6Gb/s + 1 khe cắm ổ cứng M2 NVME 3.0', N'HSX002')
GO

INSERT INTO [dbo].[mainboard] ([maMainboard], [tenMainboard], [socket], [moTa], [maHSX]) VALUES (N'MAIN003', N'Asus PRIME Z790-P D4-CSM', N'LGA1700', N'Kích thước ATX, 4 khe cắm RAM (tối đa 128GB), 4 khe cắm ổ cứng SATA 6Gb/s + 3 khe cắm ổ cứng M2 NVME (3.0/4.0)', N'HSX003')
GO




















-- ----------------------------
-- Table structure for manHinh
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[manHinh]') AND type IN ('U'))
    DROP TABLE [dbo].[manHinh]
GO

CREATE TABLE [dbo].[manHinh] (
                                 [maMH] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [thongTin] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL
)
GO

ALTER TABLE [dbo].[manHinh] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of manHinh
-- ----------------------------
INSERT INTO [dbo].[manHinh] ([maMH], [thongTin]) VALUES (N'MONI001', N'14inch, tấm nền IPS, tần số quét 144Hz')
GO

INSERT INTO [dbo].[manHinh] ([maMH], [thongTin]) VALUES (N'MONI002', N'13,4inch, tấm nền IPS, tần số quét 90Hz')
GO

INSERT INTO [dbo].[manHinh] ([maMH], [thongTin]) VALUES (N'MONI003', N'15,3inch, tấm nền Retina, tần số quét 60Hz')
GO





















-- ----------------------------
-- Table structure for mayTinh
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[mayTinh]') AND type IN ('U'))
    DROP TABLE [dbo].[mayTinh]
GO

CREATE TABLE [dbo].[mayTinh] (
                                 [tenMay] nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [maMay] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [maLoaiMay] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [maMainboard] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
                                 [maCPU] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [maRam] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [maGPU] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [maOC] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                 [maMH] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
                                 [maHSX] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
                                 [giaNhap] bigint  NOT NULL,
                                 [giaBan] bigint  NOT NULL,
                                 [soLuong] int  NOT NULL,
                                 [thoiGianBH] int  NULL,
                                 [ghiChu] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
                                 [hinhAnh] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL
)
GO

ALTER TABLE [dbo].[mayTinh] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of mayTinh
-- ----------------------------
INSERT INTO [dbo].[mayTinh] ([tenMay], [maMay], [maLoaiMay], [maMainboard], [maCPU], [maRam], [maGPU], [maOC], [maMH], [maHSX], [giaNhap], [giaBan], [soLuong], [thoiGianBH], [ghiChu], [hinhAnh]) VALUES (N'Asus ROG Zephyrus G14 GA402NJ-L4056W', N'COM001', N'LAP', NULL, N'CPU004', N'RAM004', N'GPU004', N'DISK003', N'MONI001', N'HSX003', N'27990000', N'36387000', N'0', N'24', N'Đổi mới trong 15 ngày', NULL)
GO

INSERT INTO [dbo].[mayTinh] ([tenMay], [maMay], [maLoaiMay], [maMainboard], [maCPU], [maRam], [maGPU], [maOC], [maMH], [maHSX], [giaNhap], [giaBan], [soLuong], [thoiGianBH], [ghiChu], [hinhAnh]) VALUES (N'Dell XPS 13 9340 71034922', N'COM002', N'LAP', NULL, N'CPU005', N'RAM005', N'GPU005', N'DISK002', N'MONI002', N'HSX009', N'47490000', N'61737000', N'3', N'12', N'Đổi mới trong 15 ngày, Dịch vụ bảo hành tại nơi sử dụng của hãng Dell', NULL)
GO

INSERT INTO [dbo].[mayTinh] ([tenMay], [maMay], [maLoaiMay], [maMainboard], [maCPU], [maRam], [maGPU], [maOC], [maMH], [maHSX], [giaNhap], [giaBan], [soLuong], [thoiGianBH], [ghiChu], [hinhAnh]) VALUES (N'Apple MacBook Air 15 inch M3 - Midnight', N'COM003', N'LAP', NULL, N'CPU006', N'RAM006', N'GPU006', N'DISK004', N'MONI003', N'HSX006', N'29990000', N'38987000', N'52', N'12', N'Bảo hành tại trung tâm bảo hành APPLE VN', NULL)
GO










-- ----------------------------
-- Table structure for nhaCungCap
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[nhaCungCap]') AND type IN ('U'))
    DROP TABLE [dbo].[nhaCungCap]
GO

CREATE TABLE [dbo].[nhaCungCap] (
                                    [maNCC] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [tenNCC] nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [diaChi] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                    [dienThoai] nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL
)
GO

ALTER TABLE [dbo].[nhaCungCap] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of nhaCungCap
-- ----------------------------
INSERT INTO [dbo].[nhaCungCap] ([maNCC], [tenNCC], [diaChi], [dienThoai]) VALUES (N'NCC01', N'Điện Tử Kim Thiên Bảo', N'22-24 Đường Số 10, Khu Dân Cư Trung Sơn, P. Bình Hưng, H. Bình Chánh, Tp. Hồ Chí Minh, Việt Nam', N'0907225889')
GO

INSERT INTO [dbo].[nhaCungCap] ([maNCC], [tenNCC], [diaChi], [dienThoai]) VALUES (N'NCC02', N'Bình Minh Phát', N'22-24 Đường Số 10, Khu Dân Cư Trung Sơn, P. Bình Hưng, H. Bình Chánh, Tp. Hồ Chí Minh', N'0937625889')
GO

INSERT INTO [dbo].[nhaCungCap] ([maNCC], [tenNCC], [diaChi], [dienThoai]) VALUES (N'NCC03', N'Đình Hậu', N'Số 91 Phạm Như Xương, Phường Hoà Khánh Nam, Quận Liên Chiểu, Tp. Đà Nẵng', N'0948637037')
GO























-- ----------------------------
-- Table structure for nhanVien
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[nhanVien]') AND type IN ('U'))
    DROP TABLE [dbo].[nhanVien]
GO

CREATE TABLE [dbo].[nhanVien] (
                                  [maNV] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                  [tenNV] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                  [ngaySinh] date  NOT NULL,
                                  [gioiTinh] nvarchar(5) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                  [diaChi] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                  [dienThoai] nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL
)
GO

ALTER TABLE [dbo].[nhanVien] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of nhanVien
-- ----------------------------
INSERT INTO [dbo].[nhanVien] ([maNV], [tenNV], [ngaySinh], [gioiTinh], [diaChi], [dienThoai]) VALUES (N'EMP001', N'Nguyễn Văn A', N'2003-12-30', N'Nam', N'Hà Nội', N'0123456789')
GO

INSERT INTO [dbo].[nhanVien] ([maNV], [tenNV], [ngaySinh], [gioiTinh], [diaChi], [dienThoai]) VALUES (N'EMP002', N'Trần Ngọc B', N'2003-02-28', N'Nữ', N'Hải Phòng', N'0987654321')
GO

INSERT INTO [dbo].[nhanVien] ([maNV], [tenNV], [ngaySinh], [gioiTinh], [diaChi], [dienThoai]) VALUES (N'EMP003', N'Hoàng Văn C', N'2002-01-15', N'Nam', N'Hà Nội', N'0123456790')
GO




















-- ----------------------------
-- Table structure for oCung
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[oCung]') AND type IN ('U'))
    DROP TABLE [dbo].[oCung]
GO

CREATE TABLE [dbo].[oCung] (
                               [maOC] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                               [tenOC] nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                               [dungLuong] int  NOT NULL,
                               [loaiOC] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                               [maHSX] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                               [moTa] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL
)
GO

ALTER TABLE [dbo].[oCung] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of oCung
-- ----------------------------
INSERT INTO [dbo].[oCung] ([maOC], [tenOC], [dungLuong], [loaiOC], [maHSX], [moTa]) VALUES (N'DISK001', N'SSD Kingston A400', N'480', N'SSD', N'HSX007', NULL)
GO

INSERT INTO [dbo].[oCung] ([maOC], [tenOC], [dungLuong], [loaiOC], [maHSX], [moTa]) VALUES (N'DISK002', N'Kingston SSD KC3000 PCIe 4.0', N'1024', N'SSD', N'HSX007', NULL)
GO

INSERT INTO [dbo].[oCung] ([maOC], [tenOC], [dungLuong], [loaiOC], [maHSX], [moTa]) VALUES (N'DISK003', N'SSD Samsung 980 PCIe NVMe V-NAND', N'512', N'SSD', N'HSX012', NULL)
GO














-- ----------------------------
-- Table structure for ram
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[ram]') AND type IN ('U'))
    DROP TABLE [dbo].[ram]
GO

CREATE TABLE [dbo].[ram] (
                             [maRam] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [tenRam] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [loaiRam] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
                             [bus] int  NULL,
                             [dungLuong] int  NOT NULL,
                             [maHSX] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                             [moTa] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL
)
GO

ALTER TABLE [dbo].[ram] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of ram
-- ----------------------------
INSERT INTO [dbo].[ram] ([maRam], [tenRam], [loaiRam], [bus], [dungLuong], [maHSX], [moTa]) VALUES (N'RAM001', N'Kingston FURY Beast', N'DDR4', N'3200', N'8', N'HSX007', NULL)
GO

INSERT INTO [dbo].[ram] ([maRam], [tenRam], [loaiRam], [bus], [dungLuong], [maHSX], [moTa]) VALUES (N'RAM002', N'Kingston FURY Beast RGB', N'DDR4', N'3200', N'32', N'HSX007', NULL)
GO

INSERT INTO [dbo].[ram] ([maRam], [tenRam], [loaiRam], [bus], [dungLuong], [maHSX], [moTa]) VALUES (N'RAM003', N'PNY Desktop', N'DDR4', N'3200', N'8', N'HSX008', NULL)
GO















-- ----------------------------
-- Table structure for taiKhoan
-- ----------------------------
IF EXISTS (SELECT * FROM sys.all_objects WHERE object_id = OBJECT_ID(N'[dbo].[taiKhoan]') AND type IN ('U'))
    DROP TABLE [dbo].[taiKhoan]
GO

CREATE TABLE [dbo].[taiKhoan] (
                                  [maTaiKhoan] int  NOT NULL,
                                  [tenTaiKhoan] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
                                  [matKhau] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL
)
GO

ALTER TABLE [dbo].[taiKhoan] SET (LOCK_ESCALATION = TABLE)
GO


-- ----------------------------
-- Records of taiKhoan
-- ----------------------------
INSERT INTO [dbo].[taiKhoan] ([maTaiKhoan], [tenTaiKhoan], [matKhau]) VALUES (N'1', N'admin', N'admin')
GO
INSERT INTO [dbo].[taiKhoan] ([maTaiKhoan], [tenTaiKhoan], [matKhau]) VALUES (N'2', N'user', N'user')
GO


-- ----------------------------
-- Primary Key structure for table chiTietHDB
-- ----------------------------
ALTER TABLE [dbo].[chiTietHDB] ADD CONSTRAINT [chiTietHDB_pk] PRIMARY KEY CLUSTERED ([maHDB], [maMay])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table chiTietHDN
-- ----------------------------
ALTER TABLE [dbo].[chiTietHDN] ADD CONSTRAINT [chiTietHDN_pk] PRIMARY KEY CLUSTERED ([maHDN], [maMay])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table CPU
-- ----------------------------
ALTER TABLE [dbo].[CPU] ADD CONSTRAINT [CPU_PK] PRIMARY KEY CLUSTERED ([maCPU])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table GPU
-- ----------------------------
ALTER TABLE [dbo].[GPU] ADD CONSTRAINT [GPU_PK] PRIMARY KEY CLUSTERED ([maGPU])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table hangSanXuat
-- ----------------------------
ALTER TABLE [dbo].[hangSanXuat] ADD CONSTRAINT [hangSanXuat_pk] PRIMARY KEY CLUSTERED ([maHSX])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table hoaDonBan
-- ----------------------------
ALTER TABLE [dbo].[hoaDonBan] ADD CONSTRAINT [hoaDonBan_pk] PRIMARY KEY CLUSTERED ([maHDB])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table hoaDonNhap
-- ----------------------------
ALTER TABLE [dbo].[hoaDonNhap] ADD CONSTRAINT [hoaDonNhap_pk] PRIMARY KEY CLUSTERED ([maHDN])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table khachHang
-- ----------------------------
ALTER TABLE [dbo].[khachHang] ADD CONSTRAINT [khachHang_pk] PRIMARY KEY CLUSTERED ([maKhach])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table loaiMay
-- ----------------------------
ALTER TABLE [dbo].[loaiMay] ADD CONSTRAINT [loaiMay_pk] PRIMARY KEY CLUSTERED ([maLoaiMay])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table mainboard
-- ----------------------------
ALTER TABLE [dbo].[mainboard] ADD CONSTRAINT [mainboard_pk] PRIMARY KEY CLUSTERED ([maMainboard])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table manHinh
-- ----------------------------
ALTER TABLE [dbo].[manHinh] ADD CONSTRAINT [manHinh_pk] PRIMARY KEY CLUSTERED ([maMH])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table mayTinh
-- ----------------------------
ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_pk] PRIMARY KEY CLUSTERED ([maMay])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table nhaCungCap
-- ----------------------------
ALTER TABLE [dbo].[nhaCungCap] ADD CONSTRAINT [nhaCungCap_pk] PRIMARY KEY CLUSTERED ([maNCC])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table nhanVien
-- ----------------------------
ALTER TABLE [dbo].[nhanVien] ADD CONSTRAINT [nhanVien_pk] PRIMARY KEY CLUSTERED ([maNV])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table oCung
-- ----------------------------
ALTER TABLE [dbo].[oCung] ADD CONSTRAINT [oCung_pk] PRIMARY KEY CLUSTERED ([maOC])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table ram
-- ----------------------------
ALTER TABLE [dbo].[ram] ADD CONSTRAINT [ram_pk] PRIMARY KEY CLUSTERED ([maRam])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Primary Key structure for table taiKhoan
-- ----------------------------
ALTER TABLE [dbo].[taiKhoan] ADD CONSTRAINT [taiKhoan_pk] PRIMARY KEY CLUSTERED ([maTaiKhoan])
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
GO


-- ----------------------------
-- Foreign Keys structure for table chiTietHDB
-- ----------------------------
ALTER TABLE [dbo].[chiTietHDB] ADD CONSTRAINT [chiTietHDB_hoaDonBan_FK] FOREIGN KEY ([maHDB]) REFERENCES [dbo].[hoaDonBan] ([maHDB]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[chiTietHDB] ADD CONSTRAINT [chiTietHDB_mayTinh_FK] FOREIGN KEY ([maMay]) REFERENCES [dbo].[mayTinh] ([maMay]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table chiTietHDN
-- ----------------------------
ALTER TABLE [dbo].[chiTietHDN] ADD CONSTRAINT [chiTietHDN_hoaDonNhap_FK] FOREIGN KEY ([maHDN]) REFERENCES [dbo].[hoaDonNhap] ([maHDN]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[chiTietHDN] ADD CONSTRAINT [chiTietHDN_mayTinh_FK] FOREIGN KEY ([maMay]) REFERENCES [dbo].[mayTinh] ([maMay]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table CPU
-- ----------------------------
ALTER TABLE [dbo].[CPU] ADD CONSTRAINT [CPU_hangSanXuat_FK] FOREIGN KEY ([maHSX]) REFERENCES [dbo].[hangSanXuat] ([maHSX]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table GPU
-- ----------------------------
ALTER TABLE [dbo].[GPU] ADD CONSTRAINT [GPU_hangSanXuat_FK] FOREIGN KEY ([maHSX]) REFERENCES [dbo].[hangSanXuat] ([maHSX]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table hoaDonBan
-- ----------------------------
ALTER TABLE [dbo].[hoaDonBan] ADD CONSTRAINT [hoaDonBan_khachHang_FK] FOREIGN KEY ([maKhach]) REFERENCES [dbo].[khachHang] ([maKhach]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[hoaDonBan] ADD CONSTRAINT [hoaDonBan_nhanVien_FK] FOREIGN KEY ([maNV]) REFERENCES [dbo].[nhanVien] ([maNV]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table hoaDonNhap
-- ----------------------------
ALTER TABLE [dbo].[hoaDonNhap] ADD CONSTRAINT [hoaDonNhap_nhaCungCap_FK] FOREIGN KEY ([maNCC]) REFERENCES [dbo].[nhaCungCap] ([maNCC]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[hoaDonNhap] ADD CONSTRAINT [hoaDonNhap_nhanVien_FK] FOREIGN KEY ([maNV]) REFERENCES [dbo].[nhanVien] ([maNV]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table mainboard
-- ----------------------------
ALTER TABLE [dbo].[mainboard] ADD CONSTRAINT [mainboard_hangSanXuat_FK] FOREIGN KEY ([maHSX]) REFERENCES [dbo].[hangSanXuat] ([maHSX]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table mayTinh
-- ----------------------------
ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_CPU_FK] FOREIGN KEY ([maCPU]) REFERENCES [dbo].[CPU] ([maCPU]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_GPU_FK] FOREIGN KEY ([maGPU]) REFERENCES [dbo].[GPU] ([maGPU]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_hangSanXuat_FK] FOREIGN KEY ([maHSX]) REFERENCES [dbo].[hangSanXuat] ([maHSX]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_loaiMay_FK] FOREIGN KEY ([maLoaiMay]) REFERENCES [dbo].[loaiMay] ([maLoaiMay]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_mainboard_FK] FOREIGN KEY ([maMainboard]) REFERENCES [dbo].[mainboard] ([maMainboard]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_manHinh_FK] FOREIGN KEY ([maMH]) REFERENCES [dbo].[manHinh] ([maMH]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_oCung_FK] FOREIGN KEY ([maOC]) REFERENCES [dbo].[oCung] ([maOC]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[mayTinh] ADD CONSTRAINT [mayTinh_ram_FK] FOREIGN KEY ([maRam]) REFERENCES [dbo].[ram] ([maRam]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table oCung
-- ----------------------------
ALTER TABLE [dbo].[oCung] ADD CONSTRAINT [oCung_hangSanXuat_FK] FOREIGN KEY ([maHSX]) REFERENCES [dbo].[hangSanXuat] ([maHSX]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO


-- ----------------------------
-- Foreign Keys structure for table ram
-- ----------------------------
ALTER TABLE [dbo].[ram] ADD CONSTRAINT [ram_hangSanXuat_FK] FOREIGN KEY ([maHSX]) REFERENCES [dbo].[hangSanXuat] ([maHSX]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

